@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins:wght@200&display=swap');

/*Paleta de colores:  */
:root {
  --header2-color: #FC7300;
  --footer-color: #1F8A70;
  --header-color: #00425A;
  --buttonborder-color: #181823;
  --body-color: #EFF5F5;
}

* {
  font-family: "Poppins", "Helvet";
}
  
header {
  background-color: var(--header-color);
  color: #EFF5F5;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
  
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-evenly;
  list-style: none;
}
  
nav ul li {
  display: flex;
  align-items: center;
}
  
nav ul li a {
  display: flex;
  color: #EFF5F5;
  text-decoration: none;
  padding: 10px;
  position: relative;
  margin: 15px;
  font-size: 15px;
  text-align: center;
  justify-content: center;
}

nav ul li a:before{
  content:'';
  background: var(--header2-color);
  position: absolute;
  bottom: 10px; 
  width: 0%;
  height: 2px;
  transition: 0.5s;
}
nav ul li a:hover::before{
  width: 100%;
}

body{
  padding: 0px;
  margin: 0px;
}

/*---------Main---------*/

main{padding: 30px;}

/*Title*/
#title {
  font-family: "Belanosima" !important;
}

footer {
  background-color: var(--footer-color);
  color: #EFF5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__title {
  display: flex;
  justify-content: space-around;
}

/*** Responsive */
@media(width <48rem){
  /*Tablets */
  main{
      width: 98%;
  }
  section{
      padding:0rem;
  }
  section>div{
      flex-wrap:wrap;
      flex-direction: column;
      align-items: center;
  }
  .card, .formulario, footer>div{
      width:100%;
  }
  .card{
      max-width: 31.25rem;
  }
  footer>div{
      margin-bottom: 1.25rem;
  }
  footer ul{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  .contacto{
      text-align: center;
  }
  footer{
      flex-wrap:wrap;
      flex-direction: column;
     
  }
  
}
@media(width <28.75rem){
  /*smartphones */
.bg-header{
  height: 37.5rem;
}

}