header {
    background-color: #00425A;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  nav a {
    font-size: 15px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #EFF5F5;
    text-decoration: none;
    padding: 10px;
  }

  img {
    max-width: 50%;
    height: auto;
  }
  
.con {
    margin-top: 20px;
    flex: 1;
  }
  